sys
os
altair
numpy
pandas
pydeck
streamlit
PyPDF2
pinecone-client
langchain
langchain-core 
langchain-community 
langchain-openai
openai
sendgrid
markdown
mistune
unstructured-client
unstructured
unstructured[s3]